.carousel-item img {
    width: 100%;
    max-height: 450px;
    display: block;
    overflow: hidden;
    justify-content: center;
}

footer {
    background-color: #666666;
    color: whitesmoke;
}

footer a {
    color: white;
}

footer a:hover {
    color:aqua;
}

body {
    padding-top: 106px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Use the Roboto font for the entire page */
}
