body {
    height: 100vh;
    border: 0;
    margin: 0;
    padding-top: 75px; /* padding so that the navbar wont be on top of the main content */
}

main#content {
    overflow-y: auto;
    height: 100vh;
    max-height: 100vh;
}